<!DOCTYPE html>
<html>
    <head>
        <title >Cotações  </title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
       
    </head>
        <body>
            <div class="main-content"> {{> header}}
                <p> Procure por um ativo </p>
                <form> 
                    <input type="text" placeholder="Titulo do ativo" >
                    <button> Buscas</button>
                    </form>
                    <h3></h3>
                    <p id="open"></p>
                    <p id="close"></p>
                    <p id="symbol"></p>
                    <p></p>


            </div>
           
            {{> footer}}
            
        </body>
    <script src="./js/app.js"> </script>
</html>